ul{
	margin: auto;padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 13px;
	background: #003f5e;
	margin: 3px;
	border-radius: 7px;
	box-shadow: inset 0px 0px 10px white;
	margin-top: 7px;
}